.address_map{
    width: 45%;
    margin: 2% auto;
}
.example-map{
    height: 325px;
    width: 325px;
    padding: 10px;
    border: 2px solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
}
.container{
    width: 80%;
    margin: 1% auto;
    text-align: center;
}

.table{
    width: 30%;
    display: inline-block;
}

.table2{
    width: 20%;
    display: inline-block;
}

.address{
    padding-top: 100px;
    padding-left: 100px;
}

.name_label {
    margin-right: 15px;
}

.name_input{
    margin-bottom: 5px;
}