.address_map{
    width: 45%;
    margin: 2% auto;
}

.container{
    width: 80%;
    margin: 1% auto;
    text-align: center;
}

.table{
    width: 40%;
    display: inline-block;
}

.table2{
    width: 30%;
    display: inline-block;
}
