.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #023C40;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #023C40;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #034b50;
}

.nav-right {
  float: right;
}
.nav-middle{
  display: inline-block;
  float: left;
  margin: auto
}

.headder-logo {
    height: 300px;
    margin: -120px 0;
    margin-right: 18vw;
}